name: DevSecOps Mini Project - Java 25

on:
  push:
    branches: [ main ]

jobs:
  devsecops:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/secure-notes:java25

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Java 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'

    - name: Run Gitleaks scan
      uses: zricethezav/gitleaks-action@v2

    - name: Build application
      run: mvn clean package

    - name: Docker login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker image
      run: docker build -t $IMAGE_NAME .

    - name: Trivy scan
      uses: aquasecurity/trivy-action@0.20.0
      with:
        image-ref: ${{ env.IMAGE_NAME }}
        format: table
        severity: CRITICAL,HIGH
        exit-code: '1'

    - name: Push Docker image
      run: docker push $IMAGE_NAME
